{{page-title 'Car List'}}

<div class='container'>
  <Card>

    <h2 class='color-primary' style='margin: 1rem'>Car List</h2>

    <div style='margin: 2rem 1rem 1rem 1rem'>
      <LinkTo @route="register">
        <button class='primary-color' type="button">Adicionar carro</button>
      </LinkTo>
    </div>
    <div class='smooth-gradient'></div>
    <div class='list-container'>
      <div>
        {{#each @model as |car|}}
          <CarCard
            @brand='{{car.brand}}'
            @model='{{car.model}}'
            @licensePlate='{{car.licensePlate}}'
            @vehicleId='{{car.id}}'
          />
        {{/each}}
      </div>
    </div>

    <div class='smooth-gradient'></div>
  </Card>
</div>

{{outlet}}